<%--
 Copyright (C) 2010-2014 EMBL-European Bioinformatics Institute (EMBL-EBI),
 Deutsches Krebsforschungszentrum (DKFZ)

 This file is part of Jummp.

 Jummp is free software; you can redistribute it and/or modify it under the
 terms of the GNU Affero General Public License as published by the Free
 Software Foundation; either version 3 of the License, or (at your option) any
 later version.

 Jummp is distributed in the hope that it will be useful, but WITHOUT ANY
 WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
 PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License along
 with Jummp; if not, see <http://www.gnu.org/licenses/agpl-3.0.html>.
--%>
<h3>Name</h3>

<div class="spaced-top-bottom">
    ${name}
</div>

<g:if test="${descn}">
    <h3>Description</h3>

    <div class="spaced-top-bottom">
        ${descn}
    </div>
</g:if>

<h3>Independent Variables</h3>

<table>
        <g:each var="idv" in="${indVars}">
            <tr>
                <td>
                    <div><mathml>${idv}</mathml></div>
                </td>
            </tr>
        </g:each>
        </tr>
    </tr>
</table>
